*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.maincontainer{
    background:url("../img/bg2.jpg");
    background-attachment: fixed;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    /* animation: phot 15s linear infinite; */
}
/* @keyframes phot {
    25%{
        background:url("../img/bg.jpg");
    }
    50%{
        background: url("../img/bg3.jpg");

    }
    80%{
        background: url("../img/bg4.jpg");
    }
    100%{
         background: url("../img/bg2.jpg");
    }
} */
.info{
  padding: 100px 50px;
}
.info h2{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: cornflowerblue;
    animation: colo 5s linear infinite;
} 

@keyframes colo {
    0%{
        color: cornflowerblue;
    }
    100%{
        color: blue;
    }
    /* 10%{
        color: purple;
    }
    20%{
        color: yellowgreen;
    }
    40%{
        color: bisque;
    }
    60%{
        color: blue;
    }
    80%{
        color: orangered;
    } */
}
span{
    font-size: 25px;
}
.info h3{
    font-size: 25px;
    padding: 20px;
    color: darkblue;
}
.info p{
    max-width: 330px;
    line-height: 1.6;
    padding: 10px 0;
    font-size: 16px;
    color: blue;

}
.btn{
    margin-top: 10px;
    background-color: cornflowerblue ;
    width: 150px;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    box-shadow:0px 5px 20px;
    transition: 0.8s;
}
.btn a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: blue;
}
.sild{
    width: 700px;
    height: 600px;
    margin: 0px auto ;
    margin-right: 70px;
    overflow: hidden;
    margin-top: -510px;
    display: none;
    border-radius: 20px;
}
.show{
    display: block;
}
.silddiv{
  width: 100%;
  height: 100%;
  animation: changebg 20s infinite ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
}
@keyframes changebg{

    0%{
        background-image:url("../img/eit.jpg");
        transform: rotateX(90deg);
      
    }
    10%{
        background-image:url("../img/five.jpg");
        transform: scaleY(1.2);

    }
    20%{
        background-image:url("../img/four.jpg");
        transform: scaleX(1.3);
        
    }
    40%{
        background-image:url("../img/ni.jpg");
        transform: rotateY(90deg);
    }
    60%{
        background-image:url("../img/three.jpg");
        transform: rotateX(360deg);

    }
    80%{
        background-image:url("../img/two.jpg");
        transform: scale(1.5);

    }
    100%{
        background-image:url("../img/one.jpg");
        transform: translateY(-20deg);
    }
}
@media screen and (max-width:670px){
    .maincontainer{
    background:url("../img/bg2.jpg");
    padding-right: 20px;
    background-attachment: fixed;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
.info{
  padding: 100px 20px;
}
.info h2{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: cornflowerblue;
    animation: colo 5s linear infinite;
} 
.info h3{
    font-size: 20px;
    padding: 0px;
    color: darkblue;
}
.info p{
    margin-top: 200px;
}
.btn:hover{
    background-color: blue;
}
.sild{
    width: 355px;
    height: 500px;
    /* margin: 0px auto ;
    margin-right: 10px;
    overflow: hidden;
    margin-top:-70px;
    display: none;
    border-radius:0; */
}
.sild:active .sild{
    display: block;
    margin: 0px auto ;
    margin-right: 0px;
    overflow: hidden;
    margin-top:-5px;
    display: none;
    border-radius:0 0 0 0;
}
.silddiv{
  width: 100%;
  height: 100%;
  animation: changebg 15s infinite ease-in-out;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}
 @keyframes changebg{
    0%{
        background-image:url("../img/eit.jpg");
        transform: rotateX(90deg);
      
    }
    10%{
        background-image:url("../img/five.jpg");
        transform: scaleY(1.2);

    }
    20%{
        background-image:url("../img/four.jpg");
        transform: scaleX(1.3);
        
    }
    40%{
        background-image:url("../img/ni.jpg");
        transform: rotateY(90deg);
    }
    60%{
        background-image:url("../img/three.jpg");
        transform: rotateX(360deg);

    }
    80%{
        background-image:url("../img/two.jpg");
        transform: scale(1.5);

    }
    100%{
        background-image:url("../img/one.jpg");
        transform: translateY(-20deg);
    }
} 
}
    





